<div class="container">
   <div class="row" >
   	<% @movies.each do |movie|%>
      <div class="col-md-4">
         <figure class="card card-product">
            <div class="img-wrap">
               <img src="/assets/image1.jpg">
               
            </div>
            <figcaption class="info-wrap">
               <h2 class=""><%= movie.name %></h2>
               <h4 class=""><%= movie.description %></h4>
               <h4 class=""><%= movie.price %></h4>
               
               <div class="rating-wrap">
                  <div class="label-rating">132 reviews</div>
                  <div class="label-rating">154 book </div>
               </div>
            </figcaption>
            <div class="bottom-wrap">
               <%= link_to "Book Now", movie_path(movie.id), class: "btn btn-sm btn-primary float-right" %>
               <div class="price-wrap h5">
               </div>
            </div>
         </figure>
      </div>
      <% end %>
   </div>
</div>



