<article class="bg-secondary mb-3">
   <footer class="text-center card-body">
      <span>Google</span>
      <span>About Google</span>
      <span>Privacy</span>
      <span>Terms</span>
   </footer>
</article>